<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="post">
        <label for="url">URL:</label>
        <input type="text" name="url" id="url">
        <label for="expireDate">Expire Date:</label>
        <input type="date" name="expireDate" id="expireDate">
        <input type="submit" value="Submit">
    </form>
</body>
</html>