<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (locals.entry) { %>
    <p><%= locals.entry.shortURLKey %></p>
    <p><%= locals.entry.url %></p>
    <p><%= locals.entry.expireDate %></p>
    <% }else{ %>
    <p>Entry not found.</p>
    <% } %>
</body>
</html>